<h2>Contact Us</h2>
<p>If you'd like to drop us a note about the magazine, website or anything else, you can do so below. To have your work considered for publication, {{#link-to 'menu.submit'}}click here{{/link-to}}.</p>
<div class='form'>
{{input type='name' placeholder='Your name' name='name'}}
{{input type='email' placeholder='Your email' name='email'}}
{{textarea name='message' placeholder='Your message'}}
{{input type='submit' name='Send email' class='button'}}
</div>