<h2>Subscribe</h2>
<p>Enter your email to subscribe to our fantastic newsletter and be notified when a new issue goes online.</p>
<div class="form">
{{input type='email' placeholder='Your email' name='email'}}
</div>